<div class="container" *ngFor="let x of badesab">
  <div class="row py-sm-4">
    <div class="col-md-6 offset-sm-3">
      <img src=" {{ x.image }} " alt="profile-logo" class="profile-img" />
      <h1 class="text-center">{{ x.registerHere }}</h1>
      <form [formGroup]="practiceForm">
        <!-- usernam field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label class="text-middle">{{ x.username }}</mat-label>
          <input
            matInput
            placeholder="{{ x.enterHere }}"
            formControlName="userName"
          />
        </mat-form-field>
        <div
          *ngIf="addSubmitted && practiceForm.controls['userName'].errors"
          class="text-danger"
        >
          <div *ngIf="practiceForm.controls['userName'].errors['required']">
            Username is required
          </div>
        </div>
        <!-- userpassword field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label class="text-middle">{{ x.password }}</mat-label>
          <input
            type="password"
            matInput
            placeholder="{{ x.enterHere }}"
            formControlName="Password"
          />
        </mat-form-field>
        <div
          *ngIf="addSubmitted && practiceForm.controls['userName'].errors"
          class="text-danger"
        >
          <div *ngIf="practiceForm.controls['userName'].errors['required']">
            Password is required
          </div>
        </div>
        <!-- firstname field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label class="text-middle">{{ x.firstName }}</mat-label>
          <input
            type="text"
            matInput
            placeholder="{{ x.enterHere }}"
            formControlName="firstName"
          />
        </mat-form-field>
        <div
          *ngIf="addSubmitted && practiceForm.controls['firstName'].errors"
          class="text-danger"
        >
          <div *ngIf="practiceForm.controls['firstName'].errors['required']">
            FirstName is required
          </div>
        </div>
        <!-- lastname field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label class="text-middle">{{ x.lastNmae }}</mat-label>
          <input
            type="text"
            matInput
            placeholder="{{ x.enterHere }}"
            formControlName="lastName"
          />
        </mat-form-field>
        <div
          *ngIf="addSubmitted && practiceForm.controls['lastName'].errors"
          class="text-danger"
        >
          <div *ngIf="practiceForm.controls['lastName'].errors['required']">
            LastName is required
          </div>
        </div>
        <!-- email field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label class="text-middle">{{ x.email }}</mat-label>
          <input
            type="email"
            matInput
            placeholder="{{ x.enterHere }}"
            formControlName="mail"
          />
        </mat-form-field>
        <div
          *ngIf="addSubmitted && practiceForm.controls['mail'].errors"
          class="text-danger"
        ></div>
        <!-- ph nbr field -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label class="text-middle">{{ x.phNumber }}</mat-label>
          <input
            type="number"
            matInput
            placeholder="{{ x.enterHere }}"
            formControlName="phNumber"
          />
        </mat-form-field>
        <div
          *ngIf="addSubmitted && practiceForm.controls['phNumber'].errors"
          class="text-danger"
        >
          <div *ngIf="practiceForm.controls['phNumber'].errors['required']">
            phNumber is required
          </div>
        </div>
        <!-- buttons -->
        <div class="text-center">
          <button mat-raised-button color="primary" (click)="onSubmit()">
            {{ x.register }}
          </button>
          <button
            type="button"
            style="margin-left: 20px;"
            mat-raised-button
            color="warn"
          >
            {{ x.clear }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
