/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";
.example-form {
    min-width: 350px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
